@page "/mostrar-projetos"
@layout EditLayout
@inherits TrabalhoBd.Pages.MostrarProjetosComponent

@using Radzen
@using Radzen.Blazor
@using TrabalhoBd.Models.Trabalho
<PageTitle>Mostrar Projetos</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Projetos">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenDataGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getProjetosResult" FilterMode="Radzen.FilterMode.Advanced" TItem="TrabalhoBd.Models.Trabalho.Projeto" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenDataGridColumn TItem="TrabalhoBd.Models.Trabalho.Projeto" Property="ID" Title="ID">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TrabalhoBd.Models.Trabalho.Projeto" Property="Nome" Title="Nome">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TrabalhoBd.Models.Trabalho.Projeto" Property="Short_Name" Title="Short Name">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TrabalhoBd.Models.Trabalho.Projeto" Property="Descricao" Title="Descricao">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TrabalhoBd.Models.Trabalho.Projeto" Property="ID_UC" Title="ID UC">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TrabalhoBd.Models.Trabalho.Projeto" Property="Max_Cost" Title="Max Cost">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TrabalhoBd.Models.Trabalho.Projeto" Property="Total_Cost" Title="Total Cost">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TrabalhoBd.Models.Trabalho.Projeto" Property="DOI" Title="DOI">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TrabalhoBd.Models.Trabalho.Projeto" Property="State" Title="State">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TrabalhoBd.Models.Trabalho.Projeto" FormatString="{0:d}" Property="Data_Init" Title="Data Init">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TrabalhoBd.Models.Trabalho.Projeto" FormatString="{0:d}" Property="Data_Fin" Title="Data Fin">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TrabalhoBd.Models.Trabalho.Projeto" Property="Cientific_Domain" Title="Cientific Domain">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TrabalhoBd.Models.Trabalho.Projeto" Property="ID_IR" Title="ID IR">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TrabalhoBd.Models.Trabalho.Projeto" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
              <Template Context="trabalhoBdModelsTrabalhoProjeto">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, trabalhoBdModelsTrabalhoProjeto))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
