@page "/publicacao"
@layout EditLayout
@inherits TrabalhoBd.Pages.PublicacaoComponent

@using Radzen
@using Radzen.Blazor
@using TrabalhoBd.Models.Trabalho
<PageTitle>Publicacao</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Publicacao">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenDataGrid @ref="grid0" AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" Data="@getPublicacaosResult" TItem="TrabalhoBd.Models.Trabalho.Publicacao">
          <Columns>
            <RadzenDataGridColumn TItem="TrabalhoBd.Models.Trabalho.Publicacao" Property="Titulo" Title="Titulo">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TrabalhoBd.Models.Trabalho.Publicacao" Property="Descricao" Title="Descricao">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TrabalhoBd.Models.Trabalho.Publicacao" Property="URL_Publicacao" Title="URL Publicacao">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TrabalhoBd.Models.Trabalho.Publicacao" Property="ID_Projeto" Title="ID Projeto">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TrabalhoBd.Models.Trabalho.Publicacao" Property="ID_Investigador" Title="ID Investigador">
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
