@inherits TrabalhoBd.Layouts.WelcomePageLayoutComponent

@using Radzen
@using Radzen.Blazor
@using TrabalhoBd.Models.Trabalho
@using TrabalhoBd.Pages
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<RadzenLayout>
  <ChildContent>
    <RadzenHeader>
      <ChildContent>
        <div class="row justify-content-start align-items-center">
          <div class="col-6 d-flex align-items-center">
            <RadzenSidebarToggle Click="@SidebarToggle0Click">
            </RadzenSidebarToggle>
            <RadzenLabel Text="TrabalhoBD">
            </RadzenLabel>
          </div>
        </div>
      </ChildContent>
    </RadzenHeader>
    <RadzenBody @ref="body0">
      <ChildContent>
        <RadzenImage Path="assets/images/Welcome_Page.png" style="height: 100%; width: 100%">
        </RadzenImage>
      </ChildContent>
    </RadzenBody>
    <RadzenSidebar @ref="sidebar0">
      <ChildContent>
        <RadzenPanelMenu style="height: 100%">
          <ChildContent>
            <RadzenPanelMenuItem Path="welcome" Text="Bem-Vindo">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Path="ui-rank" Text="Estatísticas">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Path="add-investigador" Text="Adicionar">
            </RadzenPanelMenuItem>
          </ChildContent>
        </RadzenPanelMenu>
      </ChildContent>
    </RadzenSidebar>
    <RadzenFooter>
      <ChildContent>
        <RadzenLabel Text="TrabalhoBD, Copyright Ⓒ 2022">
        </RadzenLabel>
      </ChildContent>
    </RadzenFooter>
  </ChildContent>
</RadzenLayout>
